* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", FontAwesome, sans-serif;
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #cdd6f4;
}

#workspaces {
    background-color: #1e1e2e; 
    margin: 5px 5px 5px 10px;
    padding: 0px 5px;
    border-radius: 0px;
    border: 1px solid #cba6f7;
}

#workspaces button {
    padding: 0px 4px;
    color: #B072BB;
    background-color: transparent;
    border-radius: 0px;
}

#clock {
	padding: 0 10px;
	margin: 5px 0px;
	color: #cdd6f4;
	background-color: transparent;
}

#workspaces button:hover {
    background-color: #C191CA;
    color: #C191CA; 
    border-radius: 0px;
}

#workspaces button.active {
    background-color: #9F53AC; 
    color: #1e1e2e;
    border-radius: 0px;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

/* Módulos */
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#custom-arch {
    padding: 0 10px;
    margin: 5px 0px;
    color: #cdd6f4;
    background-color: #1e1e2e; 
}

#custom-arch {
    margin-left: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 18px; 
    color: #cba6f7;
}

#tray {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 10px;
}

#pulseaudio {
    color: #89b4fa;
}

#network {
    color: #a6e3a1;
    border-left: 1px solid #313244;
}

#cpu {
    color: #f9e2af;
    border-left: 1px solid #313244;
}

#memory {
    color: #fab387; 
}

#battery {
    color: #f5c2e7; 
}

#battery.charging, #battery.plugged {
    color: #a6e3a1; 
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #1e1e2e;
}
